<!DOCTYPE html>
<html>
<head>
    <title>Confirmación</title>
     <link rel="stylesheet" href="../static/compras.css">
    <link rel="icon" href="/static/pngwing.com.png" type="image/x-icon" >
</head>

<body>
    <h1>¡Gracias por tu compra!</h1>

<p> Gracias por hacer la compra </p>


<p >
    Prueba de html css y de python con flask debería de estar en el centro y después en la izquierda debería de ser de color darkslategray
</p>
<img src="https://www.pngkit.com/png/detail/423-4235602_imagenes-sin-fondo-png-png-imagen-sin-fondo.png" alt="Python Logo">


</body>
</html>
